package page

templ Table(attrs templ.Attributes) {
    <table class="w-full border-collapse" {attrs...}>{children...}</table>
}

templ TableRow() {
    <tr class="odd:bg-gray-200 p-4 text-center bg-gray-100">{children...}</tr>
}

templ TableHeader() {
    <th class="p-4 bg-gray-700 text-white text-center">{children...}</th>
}

templ TableData() {
    <td class="p-4">{children...}</td>
}